streamlit
pandas
numpy
geopandas
folium
matplotlib
altair
branca
watchdog
streamlit-extras
streamlit-card
streamlit-toggle-switch
streamlit-folium
plotly
streamlit-autorefresh
pydeck
leafmap 
streamlit-aggrid
pydantic
streamlit_echarts